:root {
  /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    
        @author McKilla Gorilla
    */
  --swatch-foundation: #eeeedd;
  --swatch-primary: #e6e6e6;
  --swatch-complement: #e1e4cb;
  --swatch-contrast: #111111;
  --swatch-accent: #669966;
  --swatch-status: #123456;
  --my-font-family: "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
  background-color: var(--swatch-foundation);
}

#root {
  background-color: var(--swatch-primary);
  font-family: "Lexend Exa";
  position: absolute;
  width: 80%;
  left: 10%;
  height: 90%;
  top: 5%;
}

#app-root {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

#top5-banner {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 10%;
  float: left;
  background-image: linear-gradient(to bottom, #b8b808, #636723);
  color: white;
  font-size: 48pt;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

#banner-logo{
  color:rgb(97, 21, 21);
  font-weight: bolder;
  font-style: italic;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
}

#splash-screen {
  background: rgb(63,79,95);
  background: linear-gradient(180deg, rgba(63,79,95,1) 0%, rgba(143,182,205,1) 50%, rgba(201,233,241,1) 100%);
  color: white;
  /* font-size: 5vw;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px; */
  /* padding-left: 10%; */
  padding-top: 5%;
  padding-bottom: 5%;
  height:78%;
  text-align: center;
  /* vertical-align: center; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  display:block;
}

#splash-screen-text{
  position:relative;
  top:50px;
  font-size: 36px;
  color:rgb(100, 23, 23);
}

#splash-screen-playlister-text{
  color:rgb(97, 21, 21);
  font-size: 110px;
  font-weight: bolder;
  font-style: italic;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#splash-screen-credit{
  font-size: 20px;
  margin-top: 20px;
}

#splash-screen-logins{
  position:relative;
  top:90px;
}

#splash-screen-create-account,
#splash-screen-login{
  padding: 30px 1px;
  width: 230px;
  font-size: 20pt;
  white-space: nowrap;
  text-align: center;
  margin: 40px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  background-color: #123456;
  text-decoration: none;
}
#splash-screen-create-account:hover,
#splash-screen-login:hover{
  cursor: pointer;
  color: #999999;
  background-color: #091929;
}

#splash-screen-continue-as-guest{
  position: relative;
  top:150px;
  background-color: transparent;
  border: none;
  font-size: 15pt;
}

#splash-screen-continue-as-guest:hover{
  cursor: pointer;
  text-decoration: underline;
}

#menu-bar{
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

#menu-bar-icons{
  font-size: 3.5rem;
  width: 25%;
  display:flex;
  justify-content: space-around;

}

#menu-bar-search-bar{
  position: relative;
  top: 5px;
  height: 40px;
  width: 40%;
}

#menu-bar-sort{
  display: flex;
  font-size: 3.5rem;
}

#edit-toolbar {
  background-color: transparent;
  float: right;
}

.top5-button,
.top5-button-disabled {
  font-size: 36pt;
  border-width: 0px;
  float: left;
  color: black;
  cursor: pointer;
  opacity: 100%;
}

.top5-button:hover {
  cursor: pointer;
  color: black;
}

.top5-button-disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

#top5-list-selector {
  position: absolute;
  left: 0%;
  top: 10%;
  width: 100%;
  height: 80%;
  background-color: var(--swatch-primary);
}

#top5-workspace {
  position: absolute;
  left: 0%;
  top: 10%;
  width: 100%;
  height: 80%;
  background-color: var(--swatch-accent);
}

#top5-statusbar {
  position: absolute;
  left: 0%;
  top: 90%;
  width: 100%;
  height: 10%;
  background-color: lightsalmon;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36pt;
}

#list-selector-heading {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

#add-list-button {
  float: left;
  float: top;
  pointer-events:auto;
  width: 35px;
  height: 25px;
}

#playlist-selector-body{
  display: flex;
}


#list-selector-list {
  /* position: relative; */
  left: 0%;
  top: 10%;
  width: 100%;
  height: 430pt;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

#playlist-selector-left{
  width: 60%;
}
#playlist-selector-right{
  flex-grow: 1;
  float: right;
}


#playlist-selector-right-tabs-button{
  width: 100px;
  height: 40px;
  font-size: 12pt;
  font-weight: bold;
}

#youtube-player{
  height: 200px;
}

#youtuber-player-status{
  background-color:#cccccc;
  margin-top: 120px;
  height: 215px;
  font-size: 19pt;
  font-weight: bold;
  text-align: center;
}

#youtuber-player-status-grid{
  display:grid;
  grid-template-rows: 25% 25% 25% 25%;
  font-size: 15pt;
  text-align: left;
  margin-left: 10pt;
}

#youtuber-player-status-options{
  margin-top: 20px;
  width: 90%;
  height: 20%;
  border-radius: 10px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  display: flex;
  justify-content: space-evenly;
}

#playlist-cards{
  position: absolute;
  left: 0%;
  top: 10%;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.list-card,
.selected-list-card,
.unselected-list-card {
  font-size: 18pt;
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
}

.list-card:aria-disabled,
.list-card[aria-disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}

.unselected-list-card:hover {
  cursor: pointer;
  background-color: var(--swatch-contrast);
  color: white;
}

.selected-list-card {
  background-color: var(--swatch-accent);
  color: white;
}

.unselected-list-card {
  background-color: var(--swatch-complement);
}

.list-card-button {
  float: right;
  transform: scale(1);
}

#workspace-home,
#workspace-edit {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

#edit-numbering {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 20%;
  height: 100%;
  background-color: var(--swatch-status);
}

#edit-items {
  position: absolute;
  left: 20%;
  top: 0%;
  width: 80%;
  height: 100%;
  background-color: var(--swatch-primary);
}

.item-number,
.top5-item,
.top5-item-dragged-to {
  display: flex;
  align-items: center;
  font-size: 48pt;
  height: 20%;
}

.item-number {
  justify-content: center;
  width: 100%;
  border: 1px 0px 1px 1px;
  border-color: black;
  background-color: linen;
  color: black;
}

input {
  font-size: 20pt;
}

.top5-item,
.top5-item-dragged-to {
  text-align: left;
  width: 95%;
  padding-left: 5%;
}
.top5-item {
  background-color: var(--swatch-complement);
}
.top5-item-dragged-to {
  background-color: var(--swatch-accent);
}

.disabled {
  background-color: lightgray;
}

.disabled:hover {
  color: var(--swatch-neutral);
}

#playlister-statusbar{
  position:absolute;
  left: 0%;
  top: 90%;
  width:100%;
  height: 10%;
  background-color: lightsalmon;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 36pt;
}

/* THIS STYLE SHEET MANAGES STYLE FOR OUR MODAL, i.e. DIALOG BOX */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  color: var(--swatch-text);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  font-family: var(--font-primary);
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  /* background: var(--swatch-complement); */
  overflow: auto;
  cursor: default;
  /* border-width: 5px;
  border-radius: 10px; */
  /* border-style: groove; */
  margin-top: none;
}

.modal-dialog > * {
  padding: 1rem;
}

#edit-song-modal{
  position: relative;
  background: var(--swatch-complement);
  cursor: default;
  border-width: 5px;
  border-radius: 10px;
  border-style: groove;
  /* width: 100%; */
}


.modal-header,
.modal-footer {
  background: var(--lightgray);
}

.modal-footer{
  text-align:center;
  margin-top: 2rem;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: dotted;
  font-size:3rem;
  margin-bottom: 2rem;
}

/* .modal-header, */
.modal-close {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}

.modal-control {
  cursor: pointer;
  width: 20%;
}

.dialog-header {
  font-size: 24pt;
}


#close-modal-button {
  float: right;
}

#confirm-cancel-container {
  text-align: center;
}

.modal-center-edit{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 33% 33% 33%;
  gap: 10px 20px;
  font-size: xx-large;
}

.modal-center{
  font-size: x-large;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
  animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
